export RELAYERS_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://moonstream.to,https://portal.moonstream.to"
export RELAYERS_ERC721_HTTP_PROVIDER_URL="<Source chain JSONRPC API URL>"
export RELAYERS_KEYSTORE="<Path to keystore file for account that should sign messages to Ethereal contract on behalf of this relayer>"
# export RELAYERS_KEYSTORE_PASSWORD="<Password to keystore file, uncomment this line if you want to use this variable. If you do not use, it, you will be prompted for the password on the CLI.>"
export RELAYERS_ETHEREAL_ADDRESS="<Address of Ethereal contract to relay to on the target chain>"
export RELAYERS_ETHEREAL_CHAIN_ID="<Target chain chainID>"
