export RELAYERS_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://moonstream.to,https://portal.moonstream.to"
export RELAYERS_SOURCE_ERC721_WEB3_PROVIDER_URI="https://<connection_path_uri_json_rpc_api>"
export MOONSTREAM_NODEBALANCER_ACCESS_ID="<access_uuid_for_moonstream_nodebalancer>"
export RELAYERS_TARGET_ETHEREAL_ADDRESS="<address_of_Ethereal_contract_to_relay_to_on_the_target_chain>"
export RELAYERS_TARGET_ETHEREAL_CHAIN_ID="<target_chain_chainID>"
